################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/weathering/obj/x64/Debug
/weathering/bin/x64/Debug
